@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Playfair+Display&family=Prompt:wght@100&display=swap');
* {
    font-family: 'Akshar', sans-serif;
}

*::selection {
    color: rgb(73, 213, 231);
    background-color: black;
}

.footer i {
    color: #979797;
    font-size: 30px;
}